@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
}

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #114242;
}

#clock h2{
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

#clock #time{
    display: flex;
}

#clock #time div{
    position: relative;
    margin: 08px 5px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);

}

#clock #time div span{
    position: relative;
    display: block;
    width: 115px;
    height: 100px;
    background: #5fbff3;
    color: #0a0a0a;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    z-index: 10;
    box-shadow: 10px 10px 10px 23px rgba(0,0,0,.2);

}

#clock #time div span:nth-child(2){
    height: 35px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #217fd6;
    text-transform: uppercase;
    text-decoration-color: #0a0a0a;
}

#clock #time div:last-child span{
    background: #2991f2;
    

}
#clock #time div:last-child span:nth-child(2){
    background: #1368b8;
}


